n8n-workflows/job-search-workflow.json
{
  "name": "Job Search Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "job-search-trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:5000/webhook/job-search",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http-request-node",
      "name": "Call Job Search Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-node",
      "name": "Process Jobs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (external_id, title, company, location, url, source) VALUES (?, ?, ?, ?, ?, ?)",
        "options": {}
      },
      "id": "database-node",
      "name": "Save to Database (Optional)",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [1050, 200],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@yourcompany.com",
        "toEmail": "you@yourcompany.com",
        "subject": "Job Search Results",
        "emailFormat": "html",
        "text": "=Found {{ $json.data.total_jobs }} jobs!\n\nPlatform breakdown:\n{{ JSON.stringify($json.data.platform_breakdown, null, 2) }}"
      },
      "id": "email-node",
      "name": "Send Email Notification (Optional)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 400],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "error-response-node",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-node",
      "name": "Schedule (Optional)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 500],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keywords-assignment",
              "name": "keywords",
              "value": "Python Developer",
              "type": "string"
            },
            {
              "id": "location-assignment",
              "name": "location",
              "value": "Remote",
              "type": "string"
            },
            {
              "id": "options-assignment",
              "name": "options",
              "value": "={{ {\"analyze\": true, \"save_to_db\": true} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params-node",
      "name": "Set Search Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [450, 500],
      "disabled": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Job Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Job Search Agent": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Process Jobs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Jobs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule (Optional)": {
      "main": [
        [
          {
            "node": "Set Search Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Parameters": {
      "main": [
        [
          {
            "node": "Call Job Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
